/*====>>  Stylesheet Guide START  <<====*/
        

        /*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes main
            3.1.      TOUCH hacks
            3.2.      POSITIONS blocks (float:)
            3.3.      POSITIONS text (text-align:)
            3.4.      VERTICALLY align boxs (vertical-align:)
            3.5.      INDENTS Zero !IMPORTANT
            3.6.      POSITIONS (position:)
            3.7.      ZEROING float
            3.8.      DISPLAYS (dispay:)
            3.9.      LINKS And BUTTONS
            3.10.     HOVERS TRANSITION
            3.11.     TITLES
            3.12.     BACKGROUNDS
            3.13.     COLORS
            3.14.     GOOGLE FONTS
            3.15.     INSTALL FONTS
            3.16.     VISIBILITY
            3.17.     TEXTAFIELD (placeholder animation)
            3.18.     BREADCRUMBS
        4. HEADER
        5. CONTENT
            5.1. CAMERA SLIDER
            5.2. TEXT CONTAINER
            5.3. CATALOG PRODUCTION
            5.4. CATALOG PAGE [GALLERY SLIDER]
            5.5. CONTACTS CONTAINER
            5.6. FORM CONTAINER
            5.7. TESTIMONIALS CONTAINER
        6. FOOTER 
        7. ANCHOR TO TOP
        8. RESPONSIVE
        
        <<=========================================>>*/
        

/*====>>  Stylesheet Guide END    <<====*/




/*  <!-- 1. IMPORT Plugins and other CSS files 
                    ============================================ --> */


        @import "../css/reset.css";
        @import "../css/bootstrap.min.css";
        @import "../plugins/camera_slider/camera.css";
        @import "../plugins/owl-carousel/owl.carousel.css";
        @import "../plugins/colorbox/colorbox.css";
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic);
        @import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);




/*  <!-- 2. DEFAULT Stylesheets 
                    ============================================ --> */


    html {width:100%;}

    body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size:14px;
        line-height:19px;
        color: #1c171d;
        min-width:320px;
        background:url(../images/big_bg.jpg) 50% 0 no-repeat #fff fixed;
        -webkit-text-size-adjust: none;
        
        /* сглаживание шрифта начало */
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeSpeed;
        /* сглаживание шрифта финиш */
    }

    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }

    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    /* при выделении текста добавляется кастомный стиль  */
   
    ::selection{
        color: #fff;
        background-color: #0066cc;
    }

   ::-moz-selection{
        color: #fff;
        background-color: #0066cc;
    }

    /* !!! */

    hr{
        border: none;
        border-top: 1px solid #888;
        margin: 0;
    }

    .main{
        max-width: 1070px;
        padding: 0 10px;
        margin-left: auto;
        margin-right: auto;    
    }

    /* centering block start */
    
    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* !!!   */




/*  <!-- 3. BASIC classes main 
                    ============================================ --> */




        /*==========>>  3.1.      TOUCH hacks   <<==========*/


            input,
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*==========>>  3.2.      POSITIONS blocks (float:)   <<==========*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}

            .pull_right {float: right !important;}
            .pull_left {float: left !important;}
            .pull_none{float: none !important;}


        /*==========>>  3.3.      POSITIONS text (text-align:)   <<==========*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*==========>>  3.4.      VERTICALLY align boxs (vertical-align:)   <<==========*/
        

            .val_md{vertical-align: middle;}
            .val_bt{vertical-align: bottom;}
            .val_bs{vertical-align: baseline;}
            .val_top{vertical-align: top;}
        

        /*==========>>  3.5.      INDENTS Zero !IMPORTANT   <<==========*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*==========>>  3.6.      POSITIONS (position:)   <<==========*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 99;
            }


        /*==========>>  3.7.      ZEROING float   <<==========*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after,
            .container:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*==========>>  3.8.      DISPLAYS (dispay:)   <<==========*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}

            .hide {display: none !important;}
            .show {display: block !important;}

            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*==========>>  3.9.      LINKS And BUTTONS   <<==========*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            a {
                color:#666;
                outline:none;
                text-decoration:underline;
                display: inline-block;
            }
            a:hover{
                color:#555;
                text-decoration:none;
            }
            button{
                border: none;
                padding: 0;
                display: inline-block;
                background-color: transparent;
                color: inherit;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                text-transform: uppercase;
            }
            [class*="btn_"]{
                padding: 9px 16px;
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                text-transform: uppercase;
                color: #fff;
                text-align: center;
            }
            [class*="btn_"]:hover{
                opacity: 0.8;
            }


        /*==========>>  3.10.     HOVERS TRANSITION   <<==========*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*==========>>  3.11.     TITLES   <<==========*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                font-weight: 400;
                margin-bottom: 20px;
            }
            
            .title{
                color: #1c171d;
                font-size: 24px;
                font-weight: 600;
                line-height: 1.2;
                margin-top: 0;
                margin-bottom: 10px;
            }
            .title1{
                font-size: 19px;
                line-height: 1;
                margin-top: 20px;
                margin-bottom: 15px;
                color: #1C171D;
            }
            .title2{
                color: #7a7a7a;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.1;
                text-transform: uppercase;
                padding-bottom: 11px;
                margin-bottom: 20px;
                border-bottom: 1px solid #b1b2b4;
            }

            /* ===>  Custom styles for text  <=== */

                    .it{font-style:italic;} /* текст с наклоном */

                    .let{letter-spacing:-1px;} /* отступы между буквами */

                    .tt_up {text-transform:uppercase;} /*  каждое слово с большыми буквами */
                    .tt_cap {text-transform:capitalize;} /* каждое слово с заглавной буквы */
                    .tt_low {text-transform:lowercase;} /* каждое слово с маленькими буквами */
                    .tt_none {text-transform:none;} /* отмена стиля для текста */
                    .tt_parent {text-transform:inherit;} /* стиль для текста ставится по родителю */

                    .td_und{text-decoration: underline;} /* полоса под текстом */
                    .td_und:hover{text-decoration: none;} /* полоса пропадает при ховере */
                    
                    .td_line{text-decoration: line-through;} /* полоса зачеркивает текст */

                    .td_und_no{text-decoration: none;} /* полосы нету */
                    .td_und_no:hover{text-decoration: underline;} /* при ховере появляется полоса */

                    .td_no{text-decoration: none !important;} /* убирает полосу, выше по приоритету */
                
            /* ===>  !!! End of Custom styles for text !!!  <=== */
            
            /* ===>  !!! прячем текст начало  !!!  <=== */
            
            .text_hide {
                font: 0/0 a;
                color: transparent;
                text-shadow: none;
                background-color: transparent;
                border: 0;
            }

            /* ===>  !!! прячем текст конец !!!  <=== */


        /*==========>>  3.12.     BACKGROUNDS   <<==========*/

            /* ===>  Custom backgrounds  <=== */
            
                    .bg_none{ background:none !important;}
                    .bg_black{background-color: #000;}
                    .bg_white{background-color: #fff;}

            /* ===>  !!! End of Custom backgrounds !!!  <=== */


            .btn_gray{background-color: #b1b2b4; margin-top: 10px;}


        /*==========>>  3.13.     COLORS   <<==========*/

            /* ===>  Custom color  <=== */
            
                    .white{ color: #FFF;}
                    .black{ color: #000;}

            /* ===>  !!! End of Custom color !!!  <=== */


        /*==========>>  3.14.     GOOGLE FONTS   <<==========*/
        

            .open_lt,
            .open_reg,
            .open_sbd,
            .open_bd{
                font-family: 'Open Sans', sans-serif;
            }
            .open_lt{font-weight: 300;}
            .open_reg,
            .pt_reg{font-weight: 400;}
            .open_sbd{font-weight: 600;}
            .open_bd,
            .pt_bd{font-weight: 700;}

            .pt_reg,
            .pt_bd{
                font-family: 'PT Serif', serif;
            }
            


        /*==========>>  3.15.     INSTALL FONTS   <<==========*/
        

            /*@font-face {
                font-family: "LatoRegular";
                src: url("../font/Lato/LatoRegular.eot");
                src: url("../font/Lato/LatoRegular.eot?#iefix")format("embedded-opentype"),
                url("../font/Lato/LatoRegular.woff") format("woff"),
                url("../font/Lato/LatoRegular.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
            }*/


        /*==========>>  3.16.     VISIBILITY   <<==========*/
        

            .visible{
                visibility: visible;
                opacity: 1;
            }
            .invisible{
                visibility: hidden;
                opacity: 0;
            }
            .transparent{
                opacity: 0;
            }
            

        /*==========>>  3.17.     TEXTAFIELD (placeholder animation)   <<==========*/
        
            /*===  input start  ===*/
            
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 2px solid red;    
            }
            
            /* chrome  */
            input::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            /* !!! */
            /* mozilla */
            input::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            /* !!! */
            /* microsoft */
            input:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            /* !!! */
            /* ======================== */
            /* focus chrome */
            input:focus::-webkit-input-placeholder{
                text-indent:10em;
                color:transparent;
            }
            /* !!! */
            /* focus mozilla */
            input:focus::-moz-placeholder{
                text-indent:10em;
                color:transparent;
            }
            input:focus:-moz-placeholder{
                text-indent:10em;
                color:transparent;
            }
            /* !!! */
            /* focus microsoft */
            input:focus:-ms-input-placeholder{
                text-indent:10em;
                color:transparent;
            }
            /* !!! */

            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            /* chrome */
            textarea::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            /* !!! */
            /* mozilla */
            textarea::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            /* !!! */
            /* microsoft */
            textarea:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            /* !!! */
            /* ======================== */
            /* focus chrome */
            textarea:focus::-webkit-input-placeholder{
                transition: all 0.5s ease;
                transform: translateY(-50px);
            }
            /* !!! */
            /* focus mozilla */
            textarea:focus::-moz-placeholder{
                transition: all 0.5s ease;
                transform: translateY(-50px);
            }   
            textarea:focus:-moz-placeholder{
                transition: all 0.5s ease;
                transform: translateY(-50px);
            }
            /* !!! */
            /* focus microsoft */
            textarea:focus:-ms-input-placeholder{
                transition: all 0.5s ease;
                transform: translateY(-50px);
            }
            /* !!! */

            /*===  textarea end    ===*/
            

        /*==========>>  3.18.     BREADCRUMBS   <<==========*/
        
                .breadcrumbs{
                    display: block;
                    list-style: none;
                    margin: 0px 0 25px 0;
                }
                    .breadcrumbs_it{
                        position: relative;
                        float: left;
                        margin-right: 3px;
                        padding-right: 9px;
                    }
                    .breadcrumbs_it:before{
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        content: attr(data-bread-arr);
                        color: #fff;
                        font-size: 13px;
                        line-height: 1;
                        color: #3b3b3b;
                        /* background: url(../images/icon_breadcrumbs.png) 0 0 no-repeat; */
                        /* width: 6px;
                        height: 6px; */
                    }
                    .breadcrumbs .breadcrumbs_it:last-child:before{
                        display: none;
                    }
                        .breadcrumbs_it a{
                            text-decoration: none;
                            color: #fff;
                        }
                        .breadcrumbs .breadcrumbs_it:first-child a{padding-left: 0;}
                        .breadcrumbs_it a:hover span{
                            text-decoration: underline;
                        }
                            .breadcrumbs_current{
                                font-size: 13px;
                                line-height: 1;
                                color: #3b3b3b;
                            }
            


                            
/*  <!-- 4. HEADER 
                    ============================================ --> */


    #header {
        background-color: #fff;
        min-height: 174px;
        -webkit-box-shadow: 0px 15px 20px 3px rgba(179,173,179,.4);
            -moz-box-shadow: 0px 15px 20px 3px rgba(179,173,179,.4);
                box-shadow: 0px 15px 20px 3px rgba(179,173,179,.4);
    }
        .header_top{
            
        }
            .header_top .d_t{
                min-height: 131px;
                display: table;            
                table-layout: fixed;
            }
                .header_top .d_t *{
                    vertical-align: middle;
                }
                .logo{
                    width: 604px;
                    max-width: 100%;
                    display: table-cell;
                }
                    .logo_figcaption{
                        display: table-cell;
                        padding-right: 91px;
                    }
                        .logo_figcaption > a{
                            display:block;
                            width:101px;
                            height:108px;
                            background:url(../images/logo.png) 0 0 no-repeat;
                            text-decoration:none;
                            text-indent:-9999px;
                            font-size: 0;
                            color: transparent;
                        }
                    .slogan{
                        display: table-cell;
                        font-size: 19px;
                        line-height: 24px;
                        font-weight: 300;
                        text-align: center;
                        max-width: 350px;
                    }
                        .slogan span{
                            font-weight: 700;
                            text-transform: uppercase;
                        }

                .header_tel_number{
                    width: 376px;
                    max-width: 100%;
                    display: table-cell;
                    color: #1b181d;
                    font-size: 16px;
                    line-height: 21px;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding-left: 125px;
                    position: relative;
                    height: 131px;
                }
                .header_tel_number:before{
                    display: inline-block;
                    content: "";
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                       -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                         -o-transform: translateY(-50%);
                            transform: translateY(-50%);
                    left: 0;
                    background: url(../images/icon/header_icon1.png) 0 0 no-repeat;
                    width: 411px;
                    max-width: 100%;
                    height: 131px;
                    z-index: 99;
                }
                    .header_tel_number span{
                        position: relative;
                        z-index: 100;
                    }
                    .header_tel_number span:first-child:before{
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 38px;
                        left: -54px;
                        top: 50%;
                        margin-top: -19px;
                        display: inline-block;
                        background: url(../images/icon/tel_icon.png) 0 0 no-repeat;
                        z-index: 100;
                    }



        .header_bottom{
            border-top: 6px solid #fdec00;
            background-color: #3b3b3b;
            min-height: 43px;
        }
            #primary_nav{
                
            }
                #menu{
                    text-align: center;
                }
                    .menu_item{
                        display: inline-block;
                        margin: 0 -2px; 
                    }
                        .menu_link{
                            text-align: center;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 16px;
                            text-transform: uppercase;
                            color: #FFF;
                            padding: 13.5px 23px;
                            background-color: transparent;
                            text-decoration: none;
                        }
                        .menu_item.current .menu_link,
                        .menu_link:hover{
                            color: #1c171d;    
                            background-color: #fdec00;
                        }




/*  <!-- 5. CONTENT 
                    ============================================ --> */


    #content {
        background-color: #FFF;
        -webkit-box-shadow: 0px 15px 20px 3px rgba(179,173,179,.4);
            -moz-box-shadow: 0px 15px 20px 3px rgba(179,173,179,.4);
                box-shadow: 0px 15px 20px 3px rgba(179,173,179,.4);
    }
        .content_container{
            padding: 20px 0 50px 0;
        }

        .left_block_container{
            padding-top: 18px;
        }

        .right_block_container{

        }




    /*==========>>  5.1. CAMERA SLIDER   <<==========*/
    
        .main_slider_container{
            
        }
            .camera_slider{
                position: relative;
                overflow: hidden;
                padding: 5px 5px 0 5px;
                margin-bottom: 0 !important;
                float: none;
            }
                .camera_pag{
                    position: absolute;
                    bottom: 14px;
                    left: 0;
                    right: 0;
                    z-index: 9;
                }
            .camera_wrap .camera_pag .camera_pag_ul{
                    text-align: center;
                    width: 102px;
                    height: 28px;
                    margin: auto;
                    background-color: rgba(0, 0, 0 , 0.5);
                }
                .camera_wrap .camera_pag .camera_pag_ul li{
                    margin: 7px 4.5px;
                    height: 14px;
                    width: 14px;
                    border: 1px solid #d5d4d4;
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                    background-color: #1E191D;
                }
                .camera_wrap .camera_pag .camera_pag_ul li.cameracurrent{
                    background-color: #fdec00;
                    border: 1px solid #FDEC00;
                }
                    .camera_wrap .camera_pag .camera_pag_ul li span{
                        display: none;
                    }

    /*==========>>  5.1. CAMERA SLIDER END   <<==========*/




    /*==========>>  5.2. TEXT CONTAINER   <<==========*/    
    
        .text_container{
            
        }
            .text_container p{
                margin-bottom: 20px;
            }
            .text_container p strong{
                font-weight: 700;
            }

    /*==========>>  5.2. TEXT CONTAINER END   <<==========*/



    /*==========>>  5.3. CATALOG PRODUCTION   <<==========*/
    
        .catalog_production{
                
        }
            .catalog_list_link{
                padding-left: 20px;
                margin-bottom: 45px;
            }
                .catalog_list_link_item{
                    border-bottom: 1px dashed #b1b2b4;
                    position: relative;
                }
                .catalog_list_link_item:before{
                    content: "";
                    position: absolute;
                    left: -20px;
                    background: url(../images/icon/arrow.png) 50% 50% no-repeat;
                    width: 8px;
                    height: 13px;
                    top: 35%;
                    -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    
                }
                .catalog_list_link_item:hover:before{
                    left: -8px;
                    background-image: url(../images/icon/arrow_hov.png);
                    -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                }
                    .catalog_link{
                        color: #1c171d;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 35px;
                        text-decoration: none;
                        display: block;
                        
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }
                    .catalog_link:hover{
                        opacity: 0.8;
                        padding-left: 12px;
                    }

            .reviews_box{
                
            }
                .reviews_box .title2{
                    border-bottom: none;
                    margin-bottom: 0;
                    padding: 0 50px 12px 0;
                }
                .review_slider{
                    background-color: #FFF;
                    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 1, 0.15);
                    box-shadow: 0 2px 5px rgba(0, 0, 1, 0.15);
                    margin-bottom: 10px;
                }
                    .review_slider_figure{
                        float: left;
                        color: #707070;    
                        padding: 22px 15px 25px 19px;
                    }
                        .review_slider_figure > p{
                            margin-bottom: 20px;
                            margin-top: -5px;
                        }
                        .review_slider_figcaption{
                            color: #3b3b3b;
                            line-height: 18px;
                        }
                        .review_time{
                            display: block;
                        }
                        .review_name{
                            
                        }
                        .review_slider .owl-nav{
                            position: absolute;
                            top: -35px;
                            right: -10px;
                        }
                        .review_slider .owl-nav:before,
                        .review_slider .owl-nav:after{
                            content: "";
                            display: block;
                            height: 0;
                            clear: both;
                            visibility: hidden;
                        }
                        .review_slider .owl-dots{
                            display: none !important;
                        }
                        .review_slider .owl-prev,
                        .review_slider .owl-next{
                            width: 20px;
                            height: 27px;
                            margin: 4px 5px;
                            float: left;
                        }
                        .review_slider .owl-prev{
                            background: url(../images/icon/owl_prev.png) 50% 50% no-repeat;
                        }
                            .review_slider .owl-prev:hover{
                                background: url(../images/icon/owl_prev_hov.png) 50% 50% no-repeat;
                            }
                        .review_slider .owl-next{
                            background: url(../images/icon/owl_next.png) 50% 50% no-repeat;
                        }
                            .review_slider .owl-next:hover{
                                background: url(../images/icon/owl_next_hov.png) 50% 50% no-repeat;
                            }

    /*==========>>  5.3. CATALOG PRODUCTION END   <<==========*/
    


    /*==========>>  5.4. CATALOG PAGE [GALLERY SLIDER]   <<==========*/
    
    .catalog_contacts_container{
        position: relative;
    }
        .gallery_slider_container{
            /*margin: 0 0 0 -5px;*/
            position: relative;
        }
            .gallery_slide{
                margin: 0 5px;
            }
                .gallery_img_box{
                    width: 100%;
                }
                    .gallery_img_box img{
                        width: 100%;
                        height: auto;
                    }
            .gallery_slider .owl-dots{
                height: 11px;
                background-color: #3b3b3b;
            }
            .gallery_slider .owl-dot{
                width: 33.3%;
                height: 100%;
                display: inline-block;
            }
            .gallery_slider .owl-dot.active{
                background-color: #fdec00;
            }
            .gallery_slider .owl-controls{
                margin-top: 20px;
            }
            .gallery_slide .gallery_slide_img_box:first-child{
                margin-bottom: 10px;
            }
            .colorbox{
                width: 100%;
            }

    /*==========>>  5.4. CATALOG PAGE [GALLERY SLIDER] END   <<==========*/
    
/*[data-src="images/main_slider1.jpg"]{
    width: 100%;
    height: auto;
}*/

    /*==========>>  5.5. CONTACTS CONTAINER   <<==========*/
    
    [data-color="orange"]{
        color: #F14E2E;
    }
    .contacts_box{
        padding: 7px 0 10px;
        margin-bottom: 10px;
        border-bottom: 1px dashed #b1b2b4;
    }
        .contacts_box p{
            margin-bottom: 25px;
        }
            .contacts_item{
                line-height: 1;
                font-weight: 600;
                margin-bottom: 10px;
                display: block;
            }
            .contacts_info{
                margin-right: 5px;
                display: inline-block;
            }

    /*==========>>  5.5. CONTACTS CONTAINER END   <<==========*/
    


    /*==========>>  5.6. FORM CONTAINER   <<==========*/
    
    .form_box{
        
    }
        .form_row{
            margin-bottom: 6px;
        }
        .form_btn{
            padding: 9px 43px;
            margin-top: 10px;
        }
            .form_label{
                font-size: 14px;
                line-height: 1.9;
                display: block;
            }
            .form_input{
                width: 304px;
                height: 35px;
            }
            .form_textarea{
                width: 538px;
                height: 116px;
            }
            .form_input,
            .form_textarea{
                font-size: 14px;
                color: #424242;
                padding: 7px 10px;
                border: 1px solid #DFDEDE;
            }

    /*==========>>  5.6. FORM CONTAINER END   <<==========*/
    


    /*==========>>  5.7. TESTIMONIALS CONTAINER   <<==========*/
    
    .testimonials_block{
        
    }
        .testimonials_info{
            margin-bottom: 32px;
            padding-bottom: 8px;
            border-bottom: 1px dashed #B1B2B4;
        }
            .testimonials_info p{
                margin-bottom: 7px;
            }
        .testimonial_single{
            margin-bottom: 18px;
            padding-bottom: 24px;
            border-bottom: 1px dashed #B1B2B4;
        }
        .testimonial_single:nth-child(2n){
            border-bottom: 1px solid #B1B2B4;
        }
            .testimonial_single h5{
                margin-bottom: 2px;
            }
            .testimonial_author{
                font-weight: 700;
            }
            .testimonial_date{
                font-size: 13px;
                color: #7A7A7A;
                margin-bottom: 20px;
            }
        

    /*==========>>  5.7. TESTIMONIALS CONTAINER END   <<==========*/


/*  <!-- 6. FOOTER 
                    ============================================ --> */


    #footer {
        background-color: rgba(255, 255, 255, 0.75);
    }
        .footer_container{
            
        }
            .footer_container .d_t{
                display: table;
                width: 100%;
                min-height: 107px;
                table-layout: fixed;
            }
            .footer_container .d_t *{
                vertical-align: middle;
                color: #3b3b3b;
                font-weight: 400;
            }
            .logo_footer{
                display: table-cell;
                padding-left: 10px;
            }
                .logo_footer_figcaption{
                    display: table-cell;
                    padding-right: 20px;
                }
                    .logo_footer_figcaption a{
                        background: url(../images/logo_footer.png) 0 0 no-repeat;
                        width: 73px;
                        height: 78px;
                        display: inline-block;
                        text-indent: -9999px;
                        font-size: 0;
                        color: transparent;
                    }
                .slogan_footer{
                    display: table-cell;
                }

            .footer_copyright{
                display: table-cell;
                font-size: 13px;
                line-height: 19px;
                text-align: right;
            }
                .footer_copyright span{
                    text-transform: uppercase;
                }
                .footer_copyright a{
                    text-decoration: none;
                }
                .footer_copyright a:hover{
                    text-decoration: underline;
                }



/*  <!-- 8. RESPONSIVE
                        ============================================ --> */
@media only screen and (min-width: 768px) {
    .resp_button,
    .close_menu{
        display: none;
    }
}                        
@media only screen and (max-width: 1199px) {
    .header_tel_number{
        padding-left: 105px;
    }
    .logo_figcaption{
        padding-right: 75px;
    }
}
@media only screen and (max-width: 1070px) {
    .header_tel_number:before{
        max-width: 100%;    
    }
}
@media only screen and (max-width: 991px) {   
    .logo_figcaption {
        padding-right: 5px;
    }
    .slogan br{
        display: none;
    }

    .form_textarea{
        width: 100%;
    }
    .text_container{
        padding-right: 15px;
    }
}
@media only screen and (max-width: 767px) {   
    .header_top .d_t{
        display: block;
        table-layout: inherit;
        text-align: center;
    }
    .header_tel_number {
        padding: 10px 0;
        height: auto;
    }
    .header_tel_number:before{
        display: none;
    }
    .logo,
    .logo_figcaption,
    .slogan,
    .header_tel_number{
        display: block;
        width: 100%;
    }
    .header_tel_number{
        width: 320px !important;
        margin: auto;
        padding-left: 55px;
        text-align: left;
    }
    .slogan,
    .logo_figcaption > a{
        margin: auto;
    }
    .logo_figcaption{
        padding: 0;
        margin-bottom: 10px;
    }
    .slogan br,
    .menu_item,
    .menu_link{
        display: block;
    }
   .logo{
       margin-bottom: 10px;
   }
    .header_top{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header_bottom{
        position: fixed;
        width: 250px;
        top: 0;
        bottom: 0;
        right: 0;
        -webkit-transform: translateX(250px);
           -moz-transform: translateX(250px);
            -ms-transform: translateX(250px);
             -o-transform: translateX(250px);
                transform: translateX(250px);
        -webkit-transition: all ease 0.5s; 
           -moz-transition: all ease 0.5s; 
            -ms-transition: all ease 0.5s; 
             -o-transition: all ease 0.5s; 
                transition: all ease 0.5s; 
        z-index: 1;
    }
    .show.header_bottom{
        -webkit-transform: translateX(0px);
           -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
             -o-transform: translateX(0px);
                transform: translateX(0px);
        -webkit-transition: all ease 0.5s; 
           -moz-transition: all ease 0.5s; 
            -ms-transition: all ease 0.5s; 
             -o-transition: all ease 0.5s; 
                transition: all ease 0.5s; 
        z-index: 999;
    }
    .close_menu{
        width: 45px;
        height: 45px;
        font-size: 45px;
        line-height: 45px;
        text-align: center;
        color: #FDEC00;
        background-color: #3b3b3b;
        cursor: pointer;
        margin-left: -15px;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        -webkit-transition: all ease 0.5s;
           -moz-transition: all ease 0.5s;
            -ms-transition: all ease 0.5s;
             -o-transition: all ease 0.5s;
                transition: all ease 0.5s;
    }
    .show.header_bottom .close_menu{
        -webkit-transition: all ease 0.5s;
           -moz-transition: all ease 0.5s;
            -ms-transition: all ease 0.5s;
             -o-transition: all ease 0.5s;
                transition: all ease 0.5s;
        -webkit-transform: translateX(-46px);
           -moz-transform: translateX(-46px);
            -ms-transform: translateX(-46px);
             -o-transform: translateX(-46px);
                transform: translateX(-46px);
        width: 46px;
        border-right: 1px solid #FDEC00;
    }
    .resp_button{
        width: 45px;
        height: 45px;
        padding: 10px 6px;
        position: fixed;
        top: 10px;
        right: 10px;
        background-color: #3b3b3b;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        cursor: pointer;
        z-index: 9;
    }
    .resp_button span:first-child{
        margin-top: 0;
    }
    .resp_button span{
        height: 3px;
        display: block;
        margin-top: 8px;
        background-color: #FDEC00;
    }
    .menu_item{
        margin: 0;
    }
    .menu_link{
        padding: 13.5px 0;
        text-align: left;
    }
    .menu_item.current .menu_link, 
    .menu_link:hover{
        padding-left: 10px;
    }
    .text_container,
    .catalog_contacts_container{
        padding-top: 20px;
    }
    .left_block_container{
        padding-top: 0;
    }
    .logo_footer,
    .footer_copyright,
    .logo_footer_figcaption,
    .slogan_footer{
        display: block;
        text-align: center;
    }
    .logo_footer_figcaption,
    .slogan_footer{
        padding: 0;
        margin-bottom: 10px;
    }
    .footer_container .d_t{
        display: block;
        min-height: auto;
        table-layout:inherit;
    }
    .footer_container{
        padding: 10px 0;
    }
    .swiper-container{
        margin: 0;
    }
}

@media only screen and (max-width: 479px) {
    body{min-width:320px;}
    .slogan br{
        display: none;
    }
    .header_tel_number{
        width: 190px !important;
    }
    .title{
        font-size: 20px;
    }
    .contacts_info{
        display: block;
    }
}

@media only screen and (max-width: 360px) {
    .swiper-slide{
        width: 50%;
    }
    .swiper-container{
        height: 380px;
    }
    .form_input{
        width: 100%;
    }
}
@media only screen and (max-width: 320px) {
    .swiper-slide{
        width: 50%;
    }
    .swiper-container{
        height: 340px;
    }
}

/*  <!-- 8. RESPONSIVE END
                        ============================================ --> */