/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:rgb(59,59,59); opacity: 0.7; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxContent{margin-top:20px; -webkit-border-radius: 5px;
            border-radius: 5px; /*padding-bottom: 25px;*/}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:5px solid #fff; background:#fff; -webkit-border-radius: 5px; border-radius: 5px;padding-bottom: 25px;}
        #cboxTitle{position:absolute; top:-20px; left:0; color: #424242; padding: 2px 15px; background-color: #fff; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;}
        #cboxCurrent{position:absolute; bottom: 6px; left: 0; color:#424242; width: 100%; text-align: center;}
        #cboxLoadingGraphic{background:url(../../images/icon/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; transition: none;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:0px; margin-top:-22px; background: #3b3b3b  url(../../images/icon/owl_prev.png) no-repeat 50% 50%; width:30px; height:45px; text-indent:-9999px;-webkit-border-radius: 0 5px 5px 0;
                border-radius: 0 5px 5px 0;}
        #cboxPrevious:hover{background: #fff url(../../images/icon/owl_prev_hov.png) no-repeat 50% 50%;}
        #cboxNext{position:absolute; top:50%; right:0px; margin-top:-22px; background: #3b3b3b url(../../images/icon/owl_next.png) no-repeat 50% 50%; width:30px; height:45px; text-indent:-9999px;-webkit-border-radius: 5px 0 0 5px;
                border-radius: 5px 0 0 5px;}
        #cboxNext:hover{background: #fff url(../../images/icon/owl_next_hov.png) no-repeat 50% 50%;}
        #cboxClose{position:absolute; top: -20px; right:0; display:block; background: #fff url(../../images/icon/close_button.png) no-repeat 50% 50%; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; width:34px; height:23px; text-indent:-9999px;}
        #cboxClose:hover{background-position:50% 50%;}